@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "katex/dist/katex.css";

@import "@fontsource/geist-sans";
@import "@fontsource/cascadia-code";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-fg: var(--color-neutral-900);
    --color-fg-dim: --alpha(var(--color-fg) / 75%);
    --color-fg-dimmer: --alpha(var(--color-fg) / 50%);
    --color-fg-dimmest: --alpha(var(--color-fg) / 15%);

    --color-bg: var(--color-neutral-50);
}
@theme inline {
    --font-sans: "Geist Sans";
    --font-mono: "Cascadia Code";
}

@layer theme {
    :root {
        @variant dark {
            --color-fg: var(--color-neutral-100);

            --color-bg: var(--color-neutral-900);
        }
    }
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-sans), sans-serif;

    scrollbar-gutter: stable;
}

body {
    color: var(--color-fg);
    background-color: var(--color-bg);
}
