---
const { title = "Math Notes", description } = Astro.props;
const fullTitle = [title, "eta"].join(" — ");
---

<meta name="theme-color" content="#171717" />
<link rel="icon" type="image/ico" href="/favicon.ico" />

<title>{fullTitle}</title>
<meta property="og:title" content={fullTitle} />

{
    description && (
        <Fragment>
            <meta name="description" content={description} />
            <meta name="og:description" content={description} />
        </Fragment>
    )
}

<meta property="og:type" content="website" />
<meta property="og:image" content="/icon.png" />
